<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.karaskiewicz.audioai.AudioAIApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AudioAIShare"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name="com.karaskiewicz.audioai.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AudioAIShare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Share Target Activity for Text -->
        <activity
            android:name="com.karaskiewicz.audioai.ShareActivity"
            android:exported="true"
            android:theme="@style/Theme.AudioAIShare.Transparent">
            
            <!-- Handle sharing text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Handle sharing files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle sharing multiple files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name="com.karaskiewicz.audioai.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName="com.karaskiewicz.audioai.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karaskiewicz.audioai.MainActivity" />
        </activity>


    </application>

</manifest>